<%- include("./common/head")%>
<style>
    .registeration{
        margin-left: 510px;
        text-decoration: underline;
        font-weight: bold;
    }
    h1{
        margin-left: 300px;
    }
    h4{
        margin-right: 200px;
        margin-top: 55px;
        margin-bottom: 45px;
        text-decoration:double;
        font-weight:600;
    }
</style>
<body>
    <header>
        <%- include("./common/header")%>
    </header>
<h1>Do you want to become a seller?</h1>
<a href="/seller_registeration" target="_blank" class="registeration">click me</a>
<br>
<h4>Or</h4>
<br>
<h1>Do you want to become a buyer?</h1>
<a href="/buyer_registeration" target="_blank" class="registeration">click me</a>


</body>
</html>