<%- include("./common/head")%>
<style>
    .login{
        margin-left: 510px;
        text-decoration: underline;
        font-weight: bold;
    }
    h1{
        margin-left: 300px;
    }
    h4{
        margin-right: 200px;
        margin-top: 55px;
        margin-bottom: 45px;
        text-decoration:double;
        font-weight:600;
    }
</style>
<body>
    <header>
        <%- include("./common/header")%>
    </header>
<h1>Do you want to login as a buyer?</h1>
<a href="/buyer_login" target="_blank" class="login">click me</a>
<br>
<h4>Or</h4>
<br>
<h1>Do you want to login as a seller?</h1>
<a href="/seller_login" target="_blank" class="login">click me</a>


</body>
</html>